.bigCard {
    display: block;
    text-decoration: none;
    height: 490px;
    max-width: 480px;
    margin-bottom: 20px;
}

.bigCard:hover {
    background: #111111;
    box-shadow: 5px 5px 15px #202020
}

.bigCard>img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.title,
.subtitle {
    padding: 5px;
    margin-top: 10px;
}

.title {
    color: white;
}

.subtitle {
    color: gray;
}